In [2]:
#import packages
import pandas as pd
import numpy as np

#read in files
space_train = pd.read_csv('train.csv')
space_test = pd.read_csv('test.csv')

#add transported column to test data
space_test['Transported'] = [np.nan] * 4277

#join dataframes together for one large dataset
space = pd.concat([space_train, space_test], ignore_index = True)

#total length of dataframe
length = space.shape[0]

space.tail(20)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
12950,9238_04,Earth,False,G/1501/P,TRAPPIST-1e,26.0,False,882.0,2.0,0.0,0.0,0.0,Marlie Emenez,NaN
12951,9238_05,Earth,True,NaN,TRAPPIST-1e,14.0,False,0.0,0.0,0.0,0.0,0.0,Caseye Emenez,NaN
12952,9238_06,Earth,False,G/1501/P,55 Cancri e,0.0,False,0.0,0.0,0.0,0.0,0.0,Blance Garnettiz,NaN
12953,9238_07,Earth,False,F/1890/P,TRAPPIST-1e,32.0,False,115.0,0.0,2156.0,486.0,0.0,Camie Emenez,NaN
12954,9240_01,Earth,False,E/594/P,TRAPPIST-1e,15.0,False,0.0,0.0,4.0,0.0,618.0,Glendy Reenon,NaN
12955,9243_01,Europa,False,E/596/P,TRAPPIST-1e,35.0,False,0.0,4813.0,0.0,142.0,523.0,Sollum Pumpeshaft,NaN
12956,9245_01,Earth,False,F/1791/S,TRAPPIST-1e,20.0,False,1272.0,3.0,543.0,0.0,0.0,Eriana Jenkinnedy,NaN
12957,9249_01,Earth,False,G/1492/S,TRAPPIST-1e,21.0,False,147.0,603.0,20.0,0.0,0.0,Hilip Lambles,NaN
12958,9255_01,Mars,False,F/1794/S,TRAPPIST-1e,32.0,False,46.0,3.0,1258.0,0.0,0.0,Skies Bota,NaN
12959,9258_01,Europa,True,E/598/P,TRAPPIST-1e,29.0,False,0.0,0.0,0.0,0.0,0.0,Beidus Siveduced,NaN
12960,9260_01,Earth,True,G/1503/P,55 Cancri e,3.0,NaN,0.0,0.0,0.0,0.0,0.0,Luisy Portananney,NaN
12961,9262_01,Earth,False,F/1795/S,55 Cancri e,20.0,False,0.0,601.0,103.0,35.0,0.0,Sonald Hurchrisong,NaN
12962,9263_01,Earth,True,G/1495/S,TRAPPIST-1e,43.0,False,0.0,0.0,0.0,0.0,0.0,Loisey Heney,NaN
12963,9265_01,Mars,False,D/278/S,TRAPPIST-1e,43.0,False,47.0,0.0,3851.0,0.0,0.0,Toate Cure,NaN
12964,9266_01,Earth,False,F/1796/S,TRAPPIST-1e,40.0,False,0.0,865.0,0.0,3.0,0.0,Danna Peter,NaN
12965,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter,NaN
12966,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron,NaN
12967,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore,NaN
12968,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale,NaN
12969,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley,NaN

In [3]:
#splitting PassengerId into group and passenger number

group = []
psngr = []

for r in range(length):
    x  = space['PassengerId'][r].split('_')
    group.append(x[0])
    psngr.append(x[1])

space['Group'] = group
space['Passenger'] = psngr

#splitting Name into first and last name

first = []
last = []

for r in range(length):
    x  = space['Name'][r]
    if type(x) == str:
        y = x.split()
        first.append(y[0])
        last.append(y[1])
    else:
        first.append(np.nan)
        last.append(np.nan)

space['FirstName'] = first
space['LastName'] = last

#splitting Cabin into deck, number and side

deck = []
num = []
side = []

for r in range(length):
    x  = space['Cabin'][r]
    if type(x) == str:
        y = x.split('/')
        deck.append(x[0])
        num.append(x[2])
        side.append(x[4])
    else:
        deck.append(np.nan)
        num.append(np.nan)
        side.append(np.nan)

space['Deck'] = deck
space['Number'] = num
space['Side'] = side


space.head(20)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,...,VRDeck,Name,Transported,Group,Passenger,FirstName,LastName,Deck,Number,Side
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,...,0.0,Maham Ofracculy,0.0,0001,01,Maham,Ofracculy,B,0,P
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,...,44.0,Juanna Vines,1.0,0002,01,Juanna,Vines,F,0,S
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,...,49.0,Altark Susent,0.0,0003,01,Altark,Susent,A,0,S
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,...,193.0,Solam Susent,0.0,0003,02,Solam,Susent,A,0,S
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,...,2.0,Willy Santantines,1.0,0004,01,Willy,Santantines,F,1,S
5,0005_01,Earth,False,F/0/P,PSO J318.5-22,44.0,False,0.0,483.0,0.0,...,0.0,Sandie Hinetthews,1.0,0005,01,Sandie,Hinetthews,F,0,P
6,0006_01,Earth,False,F/2/S,TRAPPIST-1e,26.0,False,42.0,1539.0,3.0,...,0.0,Billex Jacostaffey,1.0,0006,01,Billex,Jacostaffey,F,2,S
7,0006_02,Earth,True,G/0/S,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,...,NaN,Candra Jacostaffey,1.0,0006,02,Candra,Jacostaffey,G,0,S
8,0007_01,Earth,False,F/3/S,TRAPPIST-1e,35.0,False,0.0,785.0,17.0,...,0.0,Andona Beston,1.0,0007,01,Andona,Beston,F,3,S
9,0008_01,Europa,True,B/1/P,55 Cancri e,14.0,False,0.0,0.0,0.0,...,0.0,Erraiam Flatic,1.0,0008,01,Erraiam,Flatic,B,1,P
10,0008_02,Europa,True,B/1/P,TRAPPIST-1e,34.0,False,0.0,0.0,NaN,...,0.0,Altardr Flatic,1.0,0008,02,Altardr,Flatic,B,1,P
11,0008_03,Europa,False,B/1/P,55 Cancri e,45.0,False,39.0,7295.0,589.0,...,124.0,Wezena Flatic,1.0,0008,03,Wezena,Flatic,B,1,P
12,0009_01,Mars,False,F/1/P,TRAPPIST-1e,32.0,False,73.0,0.0,1123.0,...,113.0,Berers Barne,1.0,0009,01,Berers,Barne,F,1,P
13,0010_01,Earth,False,G/1/S,TRAPPIST-1e,48.0,False,719.0,1.0,65.0,...,24.0,Reney Baketton,0.0,0010,01,Reney,Baketton,G,1,S
14,0011_01,Earth,False,F/2/P,TRAPPIST-1e,28.0,False,8.0,974.0,12.0,...,7.0,Elle Bertsontry,1.0,0011,01,Elle,Bertsontry,F,2,P
15,0012_01,Earth,False,NaN,TRAPPIST-1e,31.0,False,32.0,0.0,876.0,...,0.0,Justie Pooles,0.0,0012,01,Justie,Pooles,NaN,NaN,NaN
16,0014_01,Mars,False,F/3/P,55 Cancri e,27.0,False,1286.0,122.0,NaN,...,0.0,Flats Eccle,0.0,0014,01,Flats,Eccle,F,3,P
17,0015_01,Earth,False,F/4/P,55 Cancri e,24.0,False,0.0,1.0,0.0,...,637.0,Carry Hughriend,0.0,0015,01,Carry,Hughriend,F,4,P
18,0016_01,Mars,True,F/5/P,TRAPPIST-1e,45.0,False,0.0,0.0,0.0,...,0.0,Alus Upead,1.0,0016,01,Alus,Upead,F,5,P
19,0017_01,Earth,False,G/0/P,TRAPPIST-1e,0.0,False,0.0,0.0,0.0,...,0.0,Lyde Brighttt,1.0,0017,01,Lyde,Brighttt,G,0,P

In [5]:
#determining if passengers are in a group or not

ingroup = ['False'] * length

for first in range(length):
    for second in range(length):
        if ingroup[first] == 'True':
            break
        if space['Group'][first] == space['Group'][second] and first != second:
            ingroup[first] = 'True'
            ingroup[second] = 'True'
            break
            
space['InGroup'] = ingroup

space.head(20)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,...,Name,Transported,Group,Passenger,FirstName,LastName,Deck,Number,Side,InGroup
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,...,Maham Ofracculy,0.0,0001,01,Maham,Ofracculy,B,0,P,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,...,Juanna Vines,1.0,0002,01,Juanna,Vines,F,0,S,False
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,...,Altark Susent,0.0,0003,01,Altark,Susent,A,0,S,True
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,...,Solam Susent,0.0,0003,02,Solam,Susent,A,0,S,True
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,...,Willy Santantines,1.0,0004,01,Willy,Santantines,F,1,S,False
5,0005_01,Earth,False,F/0/P,PSO J318.5-22,44.0,False,0.0,483.0,0.0,...,Sandie Hinetthews,1.0,0005,01,Sandie,Hinetthews,F,0,P,False
6,0006_01,Earth,False,F/2/S,TRAPPIST-1e,26.0,False,42.0,1539.0,3.0,...,Billex Jacostaffey,1.0,0006,01,Billex,Jacostaffey,F,2,S,True
7,0006_02,Earth,True,G/0/S,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,...,Candra Jacostaffey,1.0,0006,02,Candra,Jacostaffey,G,0,S,True
8,0007_01,Earth,False,F/3/S,TRAPPIST-1e,35.0,False,0.0,785.0,17.0,...,Andona Beston,1.0,0007,01,Andona,Beston,F,3,S,False
9,0008_01,Europa,True,B/1/P,55 Cancri e,14.0,False,0.0,0.0,0.0,...,Erraiam Flatic,1.0,0008,01,Erraiam,Flatic,B,1,P,True
10,0008_02,Europa,True,B/1/P,TRAPPIST-1e,34.0,False,0.0,0.0,NaN,...,Altardr Flatic,1.0,0008,02,Altardr,Flatic,B,1,P,True
11,0008_03,Europa,False,B/1/P,55 Cancri e,45.0,False,39.0,7295.0,589.0,...,Wezena Flatic,1.0,0008,03,Wezena,Flatic,B,1,P,True
12,0009_01,Mars,False,F/1/P,TRAPPIST-1e,32.0,False,73.0,0.0,1123.0,...,Berers Barne,1.0,0009,01,Berers,Barne,F,1,P,False
13,0010_01,Earth,False,G/1/S,TRAPPIST-1e,48.0,False,719.0,1.0,65.0,...,Reney Baketton,0.0,0010,01,Reney,Baketton,G,1,S,False
14,0011_01,Earth,False,F/2/P,TRAPPIST-1e,28.0,False,8.0,974.0,12.0,...,Elle Bertsontry,1.0,0011,01,Elle,Bertsontry,F,2,P,False
15,0012_01,Earth,False,NaN,TRAPPIST-1e,31.0,False,32.0,0.0,876.0,...,Justie Pooles,0.0,0012,01,Justie,Pooles,NaN,NaN,NaN,False
16,0014_01,Mars,False,F/3/P,55 Cancri e,27.0,False,1286.0,122.0,NaN,...,Flats Eccle,0.0,0014,01,Flats,Eccle,F,3,P,False
17,0015_01,Earth,False,F/4/P,55 Cancri e,24.0,False,0.0,1.0,0.0,...,Carry Hughriend,0.0,0015,01,Carry,Hughriend,F,4,P,False
18,0016_01,Mars,True,F/5/P,TRAPPIST-1e,45.0,False,0.0,0.0,0.0,...,Alus Upead,1.0,0016,01,Alus,Upead,F,5,P,False
19,0017_01,Earth,False,G/0/P,TRAPPIST-1e,0.0,False,0.0,0.0,0.0,...,Lyde Brighttt,1.0,0017,01,Lyde,Brighttt,G,0,P,True

In [4]:
#determining if members within the same group have the same last name

infamily = ['False'] * length

for first in range(length):
    if ingroup[first] == 'True':
        for second in range(length):
            if infamily[first] == 'True':
                break
            if ingroup[second] == 'True':
                if space['Group'][first] == space['Group'][second] and first != second and space['LastName'][first] == space['LastName'][second]:
                    infamily[first] = 'True'
                    infamily[second] = 'True'
                    break
            
space['InFamily'] = infamily

space.head(20)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,...,Transported,Group,Passenger,FirstName,LastName,Deck,Number,Side,InGroup,InFamily
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,...,0.0,0001,01,Maham,Ofracculy,B,0,P,False,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,...,1.0,0002,01,Juanna,Vines,F,0,S,False,False
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,...,0.0,0003,01,Altark,Susent,A,0,S,True,True
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,...,0.0,0003,02,Solam,Susent,A,0,S,True,True
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,...,1.0,0004,01,Willy,Santantines,F,1,S,False,False
5,0005_01,Earth,False,F/0/P,PSO J318.5-22,44.0,False,0.0,483.0,0.0,...,1.0,0005,01,Sandie,Hinetthews,F,0,P,False,False
6,0006_01,Earth,False,F/2/S,TRAPPIST-1e,26.0,False,42.0,1539.0,3.0,...,1.0,0006,01,Billex,Jacostaffey,F,2,S,True,True
7,0006_02,Earth,True,G/0/S,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,...,1.0,0006,02,Candra,Jacostaffey,G,0,S,True,True
8,0007_01,Earth,False,F/3/S,TRAPPIST-1e,35.0,False,0.0,785.0,17.0,...,1.0,0007,01,Andona,Beston,F,3,S,False,False
9,0008_01,Europa,True,B/1/P,55 Cancri e,14.0,False,0.0,0.0,0.0,...,1.0,0008,01,Erraiam,Flatic,B,1,P,True,True
10,0008_02,Europa,True,B/1/P,TRAPPIST-1e,34.0,False,0.0,0.0,NaN,...,1.0,0008,02,Altardr,Flatic,B,1,P,True,True
11,0008_03,Europa,False,B/1/P,55 Cancri e,45.0,False,39.0,7295.0,589.0,...,1.0,0008,03,Wezena,Flatic,B,1,P,True,True
12,0009_01,Mars,False,F/1/P,TRAPPIST-1e,32.0,False,73.0,0.0,1123.0,...,1.0,0009,01,Berers,Barne,F,1,P,False,False
13,0010_01,Earth,False,G/1/S,TRAPPIST-1e,48.0,False,719.0,1.0,65.0,...,0.0,0010,01,Reney,Baketton,G,1,S,False,False
14,0011_01,Earth,False,F/2/P,TRAPPIST-1e,28.0,False,8.0,974.0,12.0,...,1.0,0011,01,Elle,Bertsontry,F,2,P,False,False
15,0012_01,Earth,False,NaN,TRAPPIST-1e,31.0,False,32.0,0.0,876.0,...,0.0,0012,01,Justie,Pooles,NaN,NaN,NaN,False,False
16,0014_01,Mars,False,F/3/P,55 Cancri e,27.0,False,1286.0,122.0,NaN,...,0.0,0014,01,Flats,Eccle,F,3,P,False,False
17,0015_01,Earth,False,F/4/P,55 Cancri e,24.0,False,0.0,1.0,0.0,...,0.0,0015,01,Carry,Hughriend,F,4,P,False,False
18,0016_01,Mars,True,F/5/P,TRAPPIST-1e,45.0,False,0.0,0.0,0.0,...,1.0,0016,01,Alus,Upead,F,5,P,False,False
19,0017_01,Earth,False,G/0/P,TRAPPIST-1e,0.0,False,0.0,0.0,0.0,...,1.0,0017,01,Lyde,Brighttt,G,0,P,True,True

In [6]:
#creating dataframe of relevant information

space = space.drop(columns = ['Cabin', 'Name'])

In [ ]:
modes = space.mode(axis = 1)

modes

space

In [7]:
space.to_csv('myspacedata.csv')

In [8]:
#import packages
import pandas as pd
import numpy as np

data = pd.read_csv('myspacedata.csv')
        
length = data.shape[0]

data = data.set_index('Index')

data

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Group,Passenger,FirstName,LastName,Deck,Number,Side,InGroup
Index,,,,,,,,,,,,,,,,,,,,
0,0001_01,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,0.0,1,1,Maham,Ofracculy,B,0.0,P,False
1,0002_01,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,1.0,2,1,Juanna,Vines,F,0.0,S,False
2,0003_01,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,0.0,3,1,Altark,Susent,A,0.0,S,True
3,0003_02,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,0.0,3,2,Solam,Susent,A,0.0,S,True
4,0004_01,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,1.0,4,1,Willy,Santantines,F,1.0,S,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12965,9266_02,Earth,True,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,NaN,9266,2,Jeron,Peter,G,1.0,9,True
12966,9269_01,Earth,False,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,NaN,9269,1,Matty,Scheron,NaN,NaN,NaN,False
12967,9271_01,Mars,True,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,NaN,9271,1,Jayrin,Pore,D,2.0,6,False
12968,9273_01,Europa,False,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,NaN,9273,1,Kitakan,Conale,D,2.0,7,False
12969,9277_01,Earth,True,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,NaN,9277,1,Lilace,Leonzaley,G,1.0,9,False

In [9]:
data.mode(axis = 0)

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Group,Passenger,FirstName,LastName,Deck,Number,Side,InGroup
0,0001_01,Earth,False,TRAPPIST-1e,18.0,False,0.0,0.0,0.0,0.0,0.0,1.0,339.0,1.0,Idace,Belley,F,1.0,/,False
1,0002_01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,984.0,NaN,Luise,Buckentry,NaN,NaN,NaN,NaN
2,0003_01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1072.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0003_02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4005.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0004_01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4256.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12965,9277_01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12966,9278_01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12967,9279_01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12968,9280_01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12969,9280_02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
data.mean(axis = 0)

PassengerId             inf
CryoSleep          0.361848
Age               28.771969
VIP                0.021540
RoomService      222.897852
FoodCourt        451.961675
ShoppingMall     174.906033
Spa              308.476904
VRDeck           306.789482
Transported        0.503624
Group           4635.337471
Passenger          1.511488
Number             3.273617
InGroup            0.449113
dtype: float64

In [11]:
data['HomePlanet'] = data['HomePlanet'].fillna('Earth')
data['CryoSleep'] = data['CryoSleep'].fillna('False')
data['Destination'] = data['Destination'].fillna('TRAPPIST-1e')
data['Age'] = data['Age'].fillna(29.0)
data['VIP'] = data['VIP'].fillna('False')
data['RoomService'] = data['RoomService'].fillna(223.0)
data['FoodCourt'] = data['FoodCourt'].fillna(452.0)
data['ShoppingMall'] = data['ShoppingMall'].fillna(175.0)
data['Spa'] = data['Spa'].fillna(308.0)
data['VRDeck'] = data['VRDeck'].fillna(307.0)
data['InGroup'] = data['InGroup'].fillna('False')
data = data.drop(columns = ['FirstName', 'LastName', 'Deck', 'Number', 'Side'])

In [12]:
data

data.to_csv('myspacedata2.csv')